.lrn.lrn_widget.lrn_custom {
	font-size: 20px;
}

.lrn.lrn_widget.lrn_custom input {
	padding: 7px;
}

.lrn.lrn_widget.lrn_custom .row-valid > td {
	background-color: #E7F4E1;
}
.lrn.lrn_widget.lrn_custom .row-invalid > td {
	background-color: #FBDDDD;
}
.lrn.lrn_widget.lrn_custom .btn-option {
	width:100%;
}
.lrn.lrn_widget.lrn_custom .table td {
	padding:0;
	text-align: center;
}

.lrn.lrn_widget.lrn_custom .table-header {
	font-weight: bold;
	text-align: center;
}

#question_input {
  margin-top: 5px;
}

#question_input.invalid {
  background-color: #FBDDDD;
}

#question_input.valid {
  background-color: #E7F4E1;
}

/* Clock */

.clock-container {
  background: #b7b6b6;
  padding: 1em;
  position: relative;
}

.clock-container .evening-indicator {
  position: absolute;
  right: 7%;
  color: white;
}

.clock {
  border-radius: 50%;
  background: #fff url(images/ios_clock.svg) no-repeat center;
  background-size: 88%;
  height: 15em;
  padding-bottom: 31%;
  position: relative;
  width: 15em;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  width: 2%;
}

@media (max-width: 400px) {
  .clock {
    width: 12em;
    height: 12em;
  }
}

/* End Clock */